<table>
    <tbody>
    <tr class="text-center">
        <td colspan="99"><!-- Indent --><span>&nbsp;</span></td>
    </tr>
    <tr class="text-center">
        <td ng-show="showsDays"><a ng-click="incrementDays()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
        <td ng-show="showsDays">&nbsp;</td>
        <td><a ng-click="incrementHours()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
        <td>&nbsp;</td>
        <td><a ng-click="incrementMinutes()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
        <td>&nbsp;</td>
        <td><a ng-click="incrementSeconds()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
    </tr>
    <tr>
        <td ng-show="showsDays" style="width:50px;" class="form-group" ng-class="{'has-error': invalidDays}">
            <input type="text" ng-model="days" ng-change="updateDays()" class="form-control text-center" ng-readonly="readonlyInput" maxlength="2">
        </td>
        <td ng-show="showsDays">&nbsp;</td>
        <td style="width:50px;" class="form-group" ng-class="{'has-error': invalidHours}">
            <input type="text" ng-model="hours" ng-change="updateHours()" class="form-control text-center" ng-readonly="readonlyInput" maxlength="2">
        </td>
        <td style="font-weight:bold;">:</td>
        <td style="width:50px;" class="form-group" ng-class="{'has-error': invalidMinutes}">
            <input type="text" ng-model="minutes" ng-change="updateMinutes()" class="form-control text-center" ng-readonly="readonlyInput" maxlength="2">
        </td>
        <td style="font-weight:bold;">:</td>
        <td style="width:50px;" class="form-group" ng-class="{'has-error': invalidSeconds}">
            <input type="text" ng-model="seconds" ng-change="updateSeconds()" class="form-control text-center" ng-readonly="readonlyInput" maxlength="2">
        </td>
    </tr>
    <tr class="text-center">
        <td ng-show="showsDays"><a ng-click="decrementDays()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
        <td ng-show="showsDays">&nbsp;</td>
        <td><a ng-click="decrementHours()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
        <td>&nbsp;</td>
        <td><a ng-click="decrementMinutes()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
        <td>&nbsp;</td>
        <td><a ng-click="decrementSeconds()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
    </tr>
    <tr class="text-center">
        <td ng-show="showsDays">Tage</td>
        <td ng-show="showsDays">&nbsp;</td>
        <td>Std.</td>
        <td>&nbsp;</td>
        <td>Min.</td>
        <td>&nbsp;</td>
        <td>Sek.</td>
    </tr>
    </tbody>
</table>